* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  font-size: 0.875rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #6c7289;
  background-color: #f2ebe3;
  line-height: 1.6;
  display: grid;
  place-content: center;
  margin: 1rem;
  min-height: 100vh;
}
img,
picture {
  display: block;
  max-width: 100%;
}
/*-- -------------------------- -->
<---          Preview card      -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #preview-card {
    font-size: inherit;
    display: grid;
  }
  #preview-card .card {
    background-color: #ffffff;
    border-radius: .5rem;
    overflow: hidden;
  }
  #preview-card .card .content {
    padding: 1.5rem;
    display: grid;
    gap: 1rem;
  }
  #preview-card .card .content .perfume {
    font-size: .81rem;
    letter-spacing: 4.5px;
    text-transform: uppercase;
  }
  #preview-card .card .content .title {
    font-size: 2rem;
    font-family: 'Fraunces', sans-serif;
    color: #1c232b;
    line-height: 1;
  }
  #preview-card .card .content .price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #preview-card .card .content .price .sale-price {
    font-size: 2rem;
    font-family: 'Fraunces', sans-serif;
    color: #3c8067;
  }
  #preview-card .card .content .btn {
    cursor: pointer;
    padding: 0.85em 1.5em;
    border: 0;
    border-radius: .5rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: .5rem;
    background-color: #3c8067;
    color: #ffffff;
    font-weight: 700;
  }
  #preview-card .card .content .btn:hover,
  #preview-card .card .content .btn:focus {
    background-color: #1c3b30;
  }
}
/* Tablet */
@media only screen and (min-width: 600px) {
  #preview-card .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 600px;
  }
  #preview-card .card .content {
    padding: 2rem;
  }
}
/* Desktop */
@media only screen and (min-width: 1280px) {
  #preview-card .card {
    -webkit-transition-duration: .5s;
            transition-duration: .5s;
    -webkit-transition-property: -webkit-box-shadow, -webkit-transform;
    transition-property: -webkit-box-shadow, -webkit-transform;
    transition-property: box-shadow, transform;
    transition-property: box-shadow, transform, -webkit-box-shadow, -webkit-transform;
  }
  #preview-card .card:hover,
  #preview-card .card:focus,
  #preview-card .card:active {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
    -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.7);
            box-shadow: 0 10px 10px rgba(0, 0, 0, 0.7);
  }
  #preview-card .card .btn {
    background-color: #3c8067;
    -webkit-transition: 1s;
    transition: 1s;
  }
  #preview-card .card .btn:hover {
    background-color: #1c3b30;
  }
}
