

html {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    background-color: hsl(30, 38%, 92%);
}

/*-- -------------------------- -->
<---          Preview card      -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0em) {
    #preview-card {
        padding: 30/14em 0;

        .card {
            background-color: hsl(0, 0%, 100%);
            width: 300/14em;
            margin: 8/14em;
            align-content: center;
            border-radius: 8/14em;

            picture {
                img {
                    width: 300/14em;
                    height: 225/14em;
                    border-radius: 8/14em 8/14em 0 0;
                }
            }
        }
    }
}